
  <footer>
    <div class="footer_inner_container flex_container p_s_max_width">
      <div class="footer_left flex ">
        <span class="footer_highlight_line"></span>
      </div>
      <div class="footer_right flex">
        <section>
          <p> Feel free to reach out via <a href="http://www.linkedin.com/in/omarjalalzada" target="_blank">Linkedin</a> about any projects. Follow me on <a href="https://www.instagram.com/omar___oj/" target="_blank">Instagram</a> or <a href="https://twitter.com/omar___oj" target="_blank">Twitter</a> to keep up.</p>
          <p>You can look at the <a href="https://github.com/omar-jalalzada/portfolio5" target="_blank">Github repo</a> to see how I built the site or my <a href="https://www.behance.net/omarj" target="_blank">Behance</a> page for archived projects.</p>
        </section>
        <section class='footer_copyright'>
          <p> Website design and content © 2017 Omar Jalalzada</p>
        </section>
      </div>
    </div>
  </footer>

    <script src="https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
