  <script src="app.js"></script>


  <footer>
  	<section>
  		<a href="">&nbsp;&nbsp;Github Repo&nbsp;&nbsp; </a>· 
  		<a href="">&nbsp;&nbsp;Behance&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Linkedin&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Twitter&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Instagram&nbsp;&nbsp;</a>
	</section>
  	<section class='footer_copyright'>Website design and content © 2017 Omar Jalalzada</section>
  
  <div id="jsWidth"></div>
  <div id="jsHeight"></div>
  </footer>


  </body>
</html>
