  


  <footer>
  	<section>
  		<a href="">&nbsp;&nbsp;Github Repo&nbsp;&nbsp; </a>· 
  		<a href="https://www.behance.net/omarj">&nbsp;&nbsp;Behance&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Linkedin&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Twitter&nbsp;&nbsp;</a>·
  		<a href="">&nbsp;&nbsp;Instagram&nbsp;&nbsp;</a>
	</section>
  	<section class='footer_copyright'>Website design and content © 2017 Omar Jalalzada</section>
  
  
  </footer>

    <script src="https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
