/*
  http://cssnext.io/features/
 */

:root {
  --secondaryColor: #A15353;
  --bgColor:  #CBD1D0;
  --ojblack:  #4A4A4A;
  --ojgray:  #949998;
  --ojorange:  #FFD530;
  --ojabstractLines:  #E3E6E5;
}


a:link, a:visited, a:active {
  color: var(--secondaryColor);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color:  color(var(--secondaryColor) lightness(-10%));
  cursor: pointer;
}


body{
  font-family: system-ui;
  font-family: "filson-pro";

  background: var(--bgColor);
  color: var(--ojblack);
  margin: auto;
  font: 400;
  font-size:  16px;
  font-weight: 300;
  & * {
    /* border:  1px solid; */
  }
  & .primary_content_container {
    padding:  40px;
    max-width: 1164px;
    margin:  auto;
  }
}