/*
  http://cssnext.io/features/
 */

:root {
  --ojrd:  #4583D8;
  --ojrd:  #AB5153;
  --ojrd:  #C5463E;

  --ojrd:  #C5463E;
  --ojrd1:  #C5463E;
  --ojrd2:  #AB5153;

  
  --ojyw:  #FCDD0F;
  --ojyw1: #FFCE51;

  --ojabstractLines:  #E3E6E5;

  --ojtl0: #E1E6E4;
  --ojtl: #C6CCCA;
  --ojtl1: #BFC7C4;
  --ojtl2: #B5BDBA;
  --ojtl3: #AAB3B0;
  --ojtl4: #9EA8A5;
  --ojtl5: #868F8C;
  --ojtl6: #6C7572;
  --ojtl7: #545C59;
  --ojtl8: #404745;


  --oj_w : 84px;
  --oj_h : 42px;

  --oj_maxwidth:  1264px;
  --oj_beyond_width:  1460px;


  --oj_base_font_size:  16px;



  /* Flat Grid Mosaic Dimensions */
    --img_size_1_width:  474px;
    --img_size_1_height:  259px;
}



body{
  font-family: "filson-pro", system-ui;
  background: var(--ojtl);
  color: var(--ojtl8);
  margin: auto;
  font-size: --var(--oj_base_font_size);
  font-weight: 300;
  overflow-x: hidden;
/*   & * {
    border:  1px solid;
  } */

  & a:link, & a:visited, & a:active {
    color: var(--ojrd);
    text-decoration: none;
    cursor: pointer;
  }
  & a:hover {
    color:  color(var(--ojrd) lightness(-10%));
  }

  & h1 {
    /* border:  1px solid purple; */
    margin:  0;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 18px;
  }
  & h2 {
    /* border:  1px solid green; */
    font-weight: 700;
    color:  color(var(--ojtl8));
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 18px;
  }
  & h3, & .h3_styling {
    /* border:  1px solid red; */
    font-size: 18px;
    line-height: 18px;
    color:  color(var(--ojtl8));
    font-weight: 300;
    margin-bottom:  14px;
  }
  & p, & .p_styling {
    font-size: var(--oj_base_font_size);
    color: var(--ojtl6);
    line-height: 26px;
    font-weight: 300;
    max-width: 460px;
    /* border:  2px solid red; */
  }

  & .oj_dots {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,0) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,0) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,0) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,0) 1px, transparent 1px, transparent 100%);
    background-size: 6px 6px;
  }

  & .img_thumb {
    width: 100%;
    height:  100%;
    background-color: white;
    position: absolute;
    top:  0;
    left: 0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.05),
                0 0 2px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* opacity: .5; */
  }

  & .img_shadow {
    width: 76%;
    height: 93%;
    top: 5%;
    left: 12%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 15px 40px 0 rgba(73,208,163,.1),
                0 2px 4px 0 rgba(0,0,0,0.2),
                0 16px 40px 0 rgba(71,74,73,0.3),
                0 20px 80px 0 rgba(71,74,73,.5);
    border-radius: 2px;
  }

  & .flex_container {
    display: flex;
    & .flex {
      flex: 1;
    }
  }


  & .p_s_max_width {
    max-width:  var(--oj_maxwidth);
    margin-left:  auto;
    margin-right:  auto;
  }

  
}
