#project_header {
  padding: 20px 0;
  width:  100%;
  position: fixed;
  top:  0;
  left:  0;
  z-index: 100;

  & .project_inner_header {
    max-width: 1264px;
    margin:  auto;
    padding-left:  10px;
    & a {
      font-size:  14px;
      font-weight: 300;
      transition: opacity .6s cubic-bezier(0,.93,.8,.92);
    }

    & #go_top_btn {
      position: absolute;
      top:  24px;
      width:  100px;
      left:  50%;
      margin-left:  -50px;
      font-size: 14px;
      font-weight: bold;
      color:  var(--ojtl4);
      text-align: center;
      user-select: none; 
      cursor: pointer;
      opacity: 0;
      transition: all .6s cubic-bezier(0,.93,.8,.92);
      &:hover {
        color:  var(--ojtl8);
      }
    }
  }

  &.show {
    & .project_home_link {
      opacity: 0;
      font-size:  14px;
      font-weight: 300;
    }
    & #go_top_btn {
      opacity: 1;
    }
  } 

}
