



.index_container {
  margin: 0 auto;
  position: relative;
  height: 700px;
  padding:  10px;
  & .index_inner_container {
    /* border: 1px solid green; */
    position: relative;
    height: 100%;
    & .index_text_container {
      position: absolute;
      max-width: 375px;
      top:  54%;
      & p {
        color: white;
      }
    }

    & .index_graphic_container {
      /* border:  1px solid blue; */
      position: relative;
      height: 100%;
      width: 50%;
      float:  right;
      & .index_graphic_inner_container {
        /* border:  1px solid red; */
        height: 100%;
        & .spark_container {
          display: block;
          width:  100px;
          height: 90px;
          position: absolute;
          left:  320px;
          top:  380px;
          &> span {
            display: block;
            width:  6px;
            height:  50px;
            margin:  10px;
            background: var(--ojabstractLines);
            border-radius: 2px;
            transition: transform 1.5s cubic-bezier(0,.93,.8,.92) 0s, opacity .5s ease-out 0s;
            opacity: 0;
          }
          & .l_1 {
            position: absolute;
            top:  -80px;
            left:  -30px;
            background-color: var(--secondaryColor);
            transform: rotate(-30deg) translateY(40px);

          }
          & .l_2 {
            position: absolute;
            bottom:  -50px;
            left:  -60px;
            /* background-color: blue; */
            transform: rotate(-90deg) translateY(40px);

          }
          & .r_1 {
            position: absolute;
            top:  -140px;
            right:  -60px;
            /* background-color: green; */
            transform: rotate(30deg) translateY(40px);
          }
          & .r_2 {
            position: absolute;
            top:  -38px;
            right:  -60px;
            background-color: var(--ojorange);
            transform: rotate(90deg) translateY(40px);
          }
          & .r_3 {
            position: absolute;
            bottom:  -64px;
            right:  -60px;
            /* background-color: purple; */
            transform: rotate(-10deg) translateX(-40px);
          }
          &::before {
            content:  " ";
            width:  2px;
            transform: rotate(8deg);
            position: absolute;
            display: block;
            background-color: var(--ojabstractLines);
            border-radius: 1px;
            height: 1420px ;
            left:  20px;
            top:  -450px;
          }
          &::after {
            height: 100px;
            width:  60px;
            content:  " ";
            position: absolute;
            top:  0;
            left:  20px;
            display: block;
            background-color: var(--bgColor);
            /* border:  1px solid red; */
          }
          &.loaded {
            &> span {
              opacity: 1;
            }
            & .l_1 {
              transform: rotate(-30deg) translateY(0px);
            }
            & .l_2 {
              transform: rotate(-90deg) translateY(0px);
            }
            & .r_1 {
              transform: rotate(30deg) translateY(0px);
            }
            & .r_2 {
              transform: rotate(90deg) translateY(0px);
            }
            & .r_3 {
              transform: rotate(30deg) translateX(0px);
            }
          }
        }

      }
    }

  }
}
