
.index_container {
  border: 1px solid gold;
  margin: 0 auto;
  position: relative;
  padding:  10px;
  max-width: 1264px;
  & .index_inner_container {
    border: 1px solid green;
    height: 700px;
    position: relative;
    & .index_text_container {
      /* border:  1px solid blue; */
      position: absolute;
      max-width: 420px;
      top:  53%;
      & p {
        color: rgba(255,255,255,1);
        text-shadow: 0 1px 0 color(var(--ojtl1));
      }
    }

    & .index_graphic_container {
      /* border:  1px solid blue; */
      position: relative;
      height: 100%;
      width: 50%;
      float:  right;
      & .index_graphic_inner_container {
        /* border:  1px solid red; */
        height: 100%;
        & .spark_container {
          display: block;
          width:  100px;
          height: 90px;
          position: absolute;
          left:  320px;
          top:  380px;
          &> span {
            display: block;
            width:  6px;
            height:  50px;
            margin:  10px;
            background: var(--ojabstractLines);
            border-radius: 2px;
            transition: transform 1.5s cubic-bezier(0,.93,.8,.92) .5s, opacity 1s ease-out .5s;
            opacity: 0;
            box-shadow: 0 0 0 1px color(var(--ojtl) shade(2%) a(50%));
          }
          & .l_1 {
            position: absolute;
            top:  -60px;
            left:  -50px;
            background-color: var(--ojrd);
            transform: rotate(-30deg) translateY(90px);

          }
          & .l_2 {
            position: absolute;
            bottom:  -60px;
            left:  -70px;
            /* background-color: blue; */
            transform: rotate(-90deg) translateY(90px);

          }
          & .r_1 {
            position: absolute;
            top:  -150px;
            right:  -70px;
            /* background-color: green; */
            transform: rotate(30deg) translateY(90px);
          }
          & .r_2 {
            position: absolute;
            top:  -38px;
            right:  -70px;
            background-color: var(--ojyw);
            transform: rotate(90deg) translateY(90px);
          }
          & .r_3 {
            position: absolute;
            bottom:  -90px;
            right:  -80px;
            /* background-color: purple; */
            transform: rotate(-10deg) translateX(-90px) translateY(-90px);
          }
          &::before {
            content:  " ";
            width:  2px;
            transform: rotate(8deg);
            position: absolute;
            display: block;
            background-color: var(--ojabstractLines);
            border-radius: 1px;
            height: 1420px ;
            left:  20px;
            top:  -450px;
            box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
          }
          &::after {
            height: 114px;
            width:  60px;
            border-radius: 30px;
            content:  " ";
            position: absolute;
            top:  0;
            left:  20px;
            display: block;
            background-color: color(var(--ojtl) tint(5%));
            transform:  scale(0);
            transition: all 0.6s cubic-bezier(0,.93,.8,.92) .5s;
            
          }
          &.loaded {
            &> span {
              opacity: 1;
            }
            & .l_1 {
              transform: rotate(-30deg) translateY(0px);
            }
            & .l_2 {
              transform: rotate(-90deg) translateY(0px);
            }
            & .r_1 {
              transform: rotate(30deg) translateY(0px);
            }
            & .r_2 {
              transform: rotate(90deg) translateY(0px);
            }
            & .r_3 {
              transform: rotate(30deg) translateX(0px) translateY(0px);
            }
            &::after {
              transform:  scale(1);
              background-color: var(--ojtl);
            }

          }
        }

      }
    }

  }
}
