
.index_container {
  /* border: 1px solid gold; */
  margin: 0 auto;
  
  padding:  10px;
  max-width: 1264px;

  & .index_inner_container {
    height: 700px;
    position: relative;
    & .index_text_container {
      position: absolute;
      top:  55.9%;
      & p {
        font-size: 18px;
        line-height: 1.7;
        color: var(--ojtl7);
        max-width: 610px;
        /* color: white;
        text-shadow: 0 1px 0 color(var(--ojtl) shade(20%) a(50%)); */
        &.first_p {
          max-width: 430px;
          &::before {
            content:  " ";
            display: block;
            width:  40px;
            height:  3px;
            border-radius: 2px;
            background-color: var(--ojyw);
            box-shadow: 0 0 0 1px color(var(--ojtl) shade(2%) a(50%));
            position: absolute;
            top:  -17px;
            left:  0;
          }
        }
      }
    }

    & .index_graphic_container {
      position: relative;
      height: 100%;
      width: 50%;
      float:  right;
      & .index_graphic_inner_container {
        height: 100%;
        & .spark_container {
          display: block;
          width:  100px;
          height: 90px;
          position: absolute;
          left:  320px;
          top:  380px;
          &> span {
            display: block;
            width:  4px;
            height:  50px;
            margin:  10px;
            background: var(--ojabstractLines);
            border-radius: 2px;
            transition: transform 1.5s cubic-bezier(0,.93,.8,.92) .5s, opacity 1s ease-out .5s;
            opacity: 0;
            box-shadow: 0 0 0 1px color(var(--ojtl) shade(2%) a(50%));
          }
          & .l_1 {
            position: absolute;
            top:  -60px;
            left:  -50px;
            background-color: var(--ojrd);
            transform: rotate(-30deg) translateY(90px);

          }
          & .l_2 {
            position: absolute;
            bottom:  -60px;
            left:  -70px;
            transform: rotate(-90deg) translateY(90px);

          }
          & .r_1 {
            position: absolute;
            top:  -150px;
            right:  -70px;
            transform: rotate(30deg) translateY(90px);
          }
          & .r_2 {
            position: absolute;
            top:  -38px;
            right:  -70px;
            background-color: var(--ojyw);
            transform: rotate(90deg) translateY(90px);
          }
          & .r_3 {
            position: absolute;
            bottom:  -90px;
            right:  -80px;
            transform: rotate(-10deg) translateX(-90px) translateY(-90px);
          }
          & .arrow_down {
            opacity: 0;
            position: absolute;
            top:  300px;
            left:  -18px;
            transform: rotate(98deg);
            width:  50px;
            height:  50px;
            text-align: center;
            background-color: var(--ojtl);
            border-radius: 3px;
            transition: opacity .5s ease-in 5s;

            & .arrow {
              animation: oj_bounce 3s cubic-bezier(0,.93,.8,.92);
              animation-iteration-count: infinite; 
              font-size: 12px;
              line-height: 4;
              color:  color(var(--ojabstractLines) tint(60%));
              text-shadow: 0 0 1px color(var(--ojtl) shade(10%));
            }
          }
          &::before {
            content:  " ";
            width:  2px;
            transform: rotate(8deg);
            position: absolute;
            display: block;
            background-color: var(--ojabstractLines);
            border-radius: 1px;
            height: 1380px ;
            left:  20px;
            top:  -450px;
            box-shadow: 0 0 0 1px color(var(--ojtl) shade(2%) a(50%));
          }
          &::after {
            height: 114px;
            width:  60px;
            border-radius: 30px;
            content:  " ";
            position: absolute;
            top:  0;
            left:  20px;
            display: block;
            background-color: color(var(--ojtl) tint(5%));
            transform:  scale(0);
            transition: all 0.6s cubic-bezier(0,.93,.8,.92) .5s;
          }

          &.loaded {
            &> span {
              opacity: 1;
            }
            & .l_1 {
              transform: rotate(-30deg) translateY(0px);
            }
            & .l_2 {
              transform: rotate(-90deg) translateY(0px);
            }
            & .r_1 {
              transform: rotate(30deg) translateY(0px);
            }
            & .r_2 {
              transform: rotate(90deg) translateY(0px);
            }
            & .r_3 {
              transform: rotate(30deg) translateX(0px) translateY(0px);
            }
            &::after {
              transform:  scale(1);
              background-color: var(--ojtl);
            }
            & .arrow_down {
              opacity: 1;

            }


          }
        }

      }
    }
  }
}

/* .confetti {
  width:  80px;
  height: 6px;
  position: absolute;
  border-radius: 2px;
  background-color: var(--ojrd);
  transform: rotate(45deg);
  &.confetti1 {
    top:  1100px;
    left:  -20px;
    background-color: var(--ojabstractLines);
  }
  &.confetti2 {
    top:  2700px;
    right:  -20px;
    background-color: var(--ojrd);
    transform: rotate(-45deg);
  }
  &.confetti3 {
    top:  1800px;
    left:  40%;
    width:  60px;
  }
}

 */


@-webkit-keyframes oj_bounce {
 0%, 20%, 50%, 80%, 100% {
    transform: translateX(5px);
    color:  var(--ojrd);
  }
  40% {
    transform: translateX(-10px);

  }
  60% {
    transform: translateX(-4px);
  }

}



