.projects_inner_container {
  padding:  0 20px 0 20px;
  /* border:  2px solid gold; */

  & .p_section_title {
    margin-bottom: 16px;

  }

  & .p_s_max_width {
    max-width:  var(--oj_maxwidth);
    margin-left:  auto;
    margin-right:  auto;
  }



  & .project_section_container {


    &.p_section_one {

      &::after {
        content: "";
        display: table;
        clear: both;
      }
      & .left_panel {
        /* border:  2px solid gold; */
        width:  48%;
        float: left;
        & .p_title_container {
          margin-bottom:  80px;
           & .p_title {
            margin-bottom:  20px;
           }
        }
        & .p_role_container {
          
        }
      }

      & .right_panel {
        float: right;
        width:  45%;
        /* border:  1px solid teal; */
        position: relative;
        & .p_main_thumb_container {
          height: 300px;
        }
      }
    }


    & .p_features_container {
      width:  40%;
      margin-bottom:  180px;
      /* float:  left; */
      & ol {
        counter-reset: my-badass-counter;
        padding:  0;
        margin:  0;
        /* margin-left:  -20px; */
        & li {
          list-style: none;
          margin-bottom:  10px;
          color: var(--ojtl6);
          &::before {
            content: counter(my-badass-counter) ".";
            counter-increment: my-badass-counter;
            font-weight: 300;
            color: var(--ojtl3);
            margin-right: 10px;
            margin-left:  -20px;
            font-size: 14px;
          }
        }
      }
    }

  }
}





body.mosaic {

  & .p_main_thumb_container {

    & .p_img_1 {
      height:  714px;
      width:  298px;
      position: absolute;
      top:  -100px;
      left:  0%;
      & .img_thumb {
        background-color: purple;

      }
    }
    & .p_dots_box {
      height:  100%;
      width:  200px;
      position: absolute;
      top:  10%;
      left:  -50px;
    }
  }
}




body.mcom {
  & .primary_content_container {

    & .projects_inner_container {
      & .p_section_one {
        margin-top: 260px;
        & .p_title {
          width:  390px;
        }
        & .p_main_thumb_container {
          & .p_img_1noshadow {
            height:  714px;
            width:  298px;
            position: absolute;
            top:  -130px;
            left:  50%;
            margin-left:  -149px;
            background-image: url("/images/project/mcom/section_1_iphone_thumb@2x.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &::before {
              content:  " ";
              width:  2px;
              transform: rotate(5deg);
              position: absolute;
              display: block;
              background-color: var(--ojabstractLines);
              box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
              border-radius: 1px;
              height: 760px;
              left:  50%;
              top:  -30px;
              z-index: -10;
            }
          }
          & .p_dots_box {
            height:  200px;
            width:  80%;
            position: absolute;
            bottom:  0;
            left: 10%;
            z-index: -10;
          }
        }
      }

      & .mcom_p_section1 {
        margin-top: 300px;
        /* background-color: yellow; */
      }
      & .mcom_p_section2 {
        border:  20px gold;
        display: flex;
        overflow: hidden;
        height:  600px;
        margin-top: 200px;
        & .section_left_full_width {
          border:  1px solid red;
          flex: 2;
          background-color: white;
          & .s_l_inner_contain {
          }
        }
        & .section_right_full_width {
          flex: 1;
          border:  1px solid blue;
          /* background-color: blue; */
        }
        /* background-color: purple; */
      }
      & .mcom_p_section3 {
        margin-top: 200px;
        /* background-color: plum; */

      }
    }


  }
}
