.projects_inner_container {




  & .p_section_top {
    margin-top: 220px;
    padding: 0 10px;
    /* border:  1px solid red; */
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    & .left_panel {
      /* border:  1px solid gold; */
      & .p_title_container {
        margin-bottom:  80px;
         & .p_title {
          /* margin-bottom:  20px; */
         }
      }
      & .p_role_container {
        
      }
    }

    & .right_panel {
      position: relative;
      /* border:  2px solid purple; */
    }
  }



  & .p_header_container {
    padding: 0 10px;
    max-width:  var(--oj_maxwidth);
    margin:  0 auto 80px auto;
    & .p_header_dots_l {
      width: 28px;
      height: 56px;
      float:  left;
      margin-left:  -50px;
      & .p_header_dots_line {
        width: 38px;
        height:  2px;
        margin:  20px 0 0 -10px;
        background-color: var(--ojyw);
      }
    }
    & .p_header_inner_container {
      & .p_header_dots_number {
        font-size:  14px;
        color:  var(--ojtl4);
        line-height: 1;
        margin-bottom: 10px;
      }
      & h2 {
        margin-left:  -1px;
      }
      & .p_header_content {
        
      }
    }

  }


  & .project_section_container {
    /* border:  1px solid green; */
    margin-top: 280px;

    &.project_section_wrap_up {
      padding:  220px 10px 100px 10px;
    }

    & .project_bottom_divider {
      margin-bottom: 100px;
      & p {
        font-size: 12px;
        background-color: var(--ojtl);
        width:  200px;
        margin:  0 auto;
        text-align: center;
        margin-top: -15px;
      }
      & .divider_line {

        height:  1px;
        width:  100%;
        display: block;
        background-color: var(--ojtl2);
      }
    }





    & .p_thumb_grid {
      /* border:  1px solid red; */
      width:  100%;
      /* height: 620px; */
      position: relative;
      padding:  0;
      & ul {
        /* border:  1px solid green; */
        max-width:  1460px;
        margin:  auto;
        padding:  0;
        display: flex;
        &::after {
          content: "";
          display: table;
          clear: both;
        }
        & li {
          /* border:  1px solid purple; */
          flex: 1;
          display: block;
          & .gallery_title {
            display: block;
            width:  100%;
            height: 30px;
            font-size: 12px;
            text-align: center;
            color:  var(--ojtl4);
          }
          & .img_container {
            width:  320px;
            height:  568px;
            position: relative;
            margin:  auto;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }


/*     & .p_features_container {
      width:  40%;
      margin-bottom:  180px;
      & ol {
        counter-reset: my-badass-counter;
        padding:  0;
        margin:  0;
        & li {
          list-style: none;
          margin-bottom:  10px;
          color: var(--ojtl6);
          &::before {
            content: counter(my-badass-counter) ".";
            counter-increment: my-badass-counter;
            font-weight: 300;
            color: var(--ojtl3);
            margin-right: 10px;
            margin-left:  -20px;
            font-size: 14px;
          }
        }
      }
    } */

  }
}





body.mosaic {

  & .p_main_thumb_container {

    & .p_img_1 {
      height:  714px;
      width:  298px;
      position: absolute;
      top:  -100px;
      left:  0%;
      & .img_thumb {
        background-color: purple;

      }
    }
    & .p_dots_box {
      height:  100%;
      width:  200px;
      position: absolute;
      top:  10%;
      left:  -50px;
    }
  }
}




