.project_lister_container {
  /* border: 1px solid teal; */
  margin: 0 auto;
  padding:  0 10px;
  & .index_project_list {
    /* border: 1px solid blue; */
    margin:  40px 0;
    height: 640px;
    position: relative;

    &.index_project_Mosaic {
      margin-top: 0;
    }
    & .index_project_list_inner_container {
      /* border:  1px solid red; */
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      height:  280px;
      & .index_project_desc {
        /* border: 1px solid teal; */
        float: left;
        width: 48%;
        height: 100%;
        & .index_project_title {
          margin-top: -10px;
          margin-bottom: 6px;
          font-size: 32px;
        }
        & .index_project_info {
          margin-bottom: 50px;
        }
        & .index_project_secondary {
          font-size: 14px;
          line-height: 1.2;
          color:  var(--ojtl4);
          margin-bottom: 10px;
        }

        /* HOVER ANIMATION FOR THE "VIEW PROJECT" ANCHOR TAG */
        & .index_project_link {
          position: relative;
          width: var(--oj_w);
          height: var(--oj_h);
          display: block;
          font-size: 14px;
          transition: width .2s ease-out .4s, background .1s ease-in;
          cursor: pointer;
          overflow: hidden;
          /* border:  1px solid; */
          & span {
            display: block;
            position: absolute;
            background-color: var(--ojrd);
            &.text {
              transform: translate3d(0,12px,0);
              text-align: center;
              height: 20px;
              width: 100%;
              background-color: transparent;
              transition: transform .5s cubic-bezier(0,.93,.8,.92);
            }
            &.b_b {
              left: 0;
              bottom: 0;
              width: calc(var(--oj_w) + 20px);
              height: 2px;
              /* opacity: 0.1; */
              transition: transform .2s cubic-bezier(0,.93,.8,.92) .2s;
            }
            &.b_b2 {
              left: 0;
              bottom: 0;
              width: calc(var(--oj_w) + 20px);
              height: 2px;
              transition: transform .1s cubic-bezier(0,.93,.8,.92) , height .1s cubic-bezier(0,.93,.8,.92);
              transform: translate3d(-calc(var(--oj_w) + 20px),0,0);
            }
            &.r_b {
              right: 0;
              bottom: 0;
              width: 2px;
              height: var(--oj_h);
              transform: translate3d(0, var(--oj_h) ,0);
              transition: transform .15s cubic-bezier(0,.93,.8,.92) .31s;
            }
            &.t_b {
              right: 0;
              top: 0;
              width: calc(var(--oj_w) + 18px);
              height: 2px;
              transform: translate3d( calc(var(--oj_w) + 20px),0,0);
              transition: transform .1s cubic-bezier(0,.93,.8,.92) .19s;
            }
            &.l_b {
              top: 0;
              left: 0;
              height: var(--oj_h);
              width: 2px;
              transform: translate3d(0, -var(--oj_h) ,0);
              transition: transform .1s cubic-bezier(0,.93,.8,.92) .1s;
            }
          }
        }
        & .index_project_link:hover {
          width: calc(var(--oj_w) + 20px);
          background-color:  var(--ojtl1);
          transition: width .2s ease-out, background .5s ease-in;
          & span {
            &.text {
              transform: translate3d(0,10px,0);
              transition: transform .3s ease-out;
              color:  var(--ojrd);
            }
            &.b_b {
              transform: translate3d(calc(var(--oj_w) + 20px),0,0);
              transition: transform .2s cubic-bezier(0,.93,.8,.92) .05s;
            }
            &.r_b {
              transform: translate3d(0, 0, 0);
              transition: transform .15s cubic-bezier(0,.93,.8,.92) .05s;
            }
            &.t_b {
              transform: translate3d(0, 0, 0);
              transition: transform .1s cubic-bezier(0,.93,.8,.92) .19s;
            }
            &.l_b {
              transform: translate3d(0, 0, 0);
              transition: transform .15s cubic-bezier(0,.93,.8,.92) .28s;
            }
            &.b_b2 {
              transform: translate3d(0, 0, 0);
              transition: transform .15s cubic-bezier(0,.93,.8,.92) .25s;
            }
          }
        } /* END HOVER ANIMATION */

      }

      & .index_project_thumb {
        /* border: 1px solid red; */
        width: 48%;
        float: right;
        height: 100%;
        position: relative;
        & .project_thumb {
          /* border: 1px solid teal;  */
          & .img_container{
            position: absolute;
            & .img_thumb {
              width: 100%;
              height: 100%;
              background-color: white;
              border-radius: 3px;
              position: absolute;
              top: 0;
              left: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
            &.secondary_thumb {
              & .img_thumb { 
                box-shadow: 0 0px 1px 0 rgba(0,0,0,0.2), 
                            0 1px 1px 0 rgba(0,0,0,0.1);
              }
            }
            &.main_thumb {
              & .img_thumb {
                box-shadow: 0 0 1px 0 rgba(0,0,0,0.1),
                            0 0 3px rgba(0,0,0,0.1);
              }
              & .img_shadow {
                width: 80%;
                height: 93%;
                top: 5%;
                left: 10%;
                background-color: blue;
                position: absolute;
                box-shadow: 0 11px 20px 0 rgba(74,144,226,0.1),
                            0 2px 4px 0 rgba(0,0,0,0.2),
                            0 16px 40px 0 rgba(71,74,73,0.3),
                            0 18px 80px 0 rgba(71,74,73,0.4);
                border-radius: 3px;
              }
            }

          }
          &.p_t_Mosaic {
            position: relative;
            width: 100%;
            height: 100%;
            & .img1_container {
              width: 401px;
              height: 316px;
              bottom: -80px;
              left: 20px;
              background-color: var(--ojtl);
              & .img_thumb {
                background-image: url("/images/index/index_agenda_401x316@2x.png");
              }
            }
            & .img2_container {
              width: 470px;
              height: 338px;
              top: -80px;
              left: 10%;
              & .img_thumb {
                background-image: url("/images/index/index_stock_chart_470x338@2x.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
              }
            }
            & .dotted_box {
              width: 400px;
              height: 200px;
              bottom: -20px;
              right: -20px;
            }
          }
          &.p_t_Macys {
            & .img1_container {
              left: 0;
              top: -30px;
              width: 320px;
              height: 358px;
              & .img_thumb {
                background-image: url("/images/index/index_mcom_pdp2_320x358@2x.png");
              }
            }
            & .img2_container {
              width: 320px;
              height: 468px;
              top: -90px;
              left: 22%;
              & .img_thumb {
                background-image: url("/images/index/index_mcom_pdp_320x468@2x.png");
              }
              &::before {
                content:  " ";
                width:  2px;
                transform: rotate(8deg);
                position: absolute;
                display: block;
                background-color: var(--ojabstractLines);
                box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
                border-radius: 1px;
                height: 580px;
                left:  50%;
                top:  -55px;
              }
            }
            & .dotted_box {
              width: 200px;
              height: 300px;
              bottom: 0px;
              right: 4%;
            }
          }
          &.p_t_WFL {
            & .img1_container {
              right: 0;
              top: 0px;
              width: 313px;
              height: 287px;
              
              & .img_thumb {
                background-image: url("/images/index/index_wfl_airport_313x287@2x.png");
              }
            }
            & .img2_container {
              width: 313px;
              height: 497px;
              top: -100px;
              left: 20%;
              
              & .img_thumb {
                background-image: url("/images/index/index_wfl_313x497@2x.png");
              }
              &::before {
                content:  " ";
                width:  2px;
                transform: rotate(8deg);
                position: absolute;
                display: block;
                background-color: var(--ojabstractLines);
                box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
                border-radius: 1px;
                height: 580px;
                left:  50%;
                top:  -55px;
              }
            }
            & .dotted_box {
              width: 200px;
              height: 300px;
              bottom: 0px;
              left: 4%;
            }
          }
          &.p_t_Arc {
            & .img1_container {
              left: 4%;
              top: -6px;
              width: 320px;
              height: 312px;
              & .img_thumb {
                background-image: url("/images/index/index_arc_profile_320x312@2x.png");
              }
            }
            
            & .img2_container {
              width: 320px;
              height: 380px;
              top: -40px;
              left: 23%;
              & .img_thumb {
                background-image: url("/images/index/index_arc_story_320x380@2x.png");
              }
              &::before {
                content:  " ";
                width:  2px;
                transform: rotate(8deg);
                position: absolute;
                display: block;
                background-color: var(--ojabstractLines);
                box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
                border-radius: 1px;
                height: 500px;
                left:  50%;
                top:  -55px;
              }
            }
            & .dotted_box {
              width: 200px;
              height: 300px;
              bottom: 0px;
              right: 0;
            }
          }
        }

      }
    }
    /*siblling to .projects_container for the ones that'll float in a different direction.*/
    &.index_list_float_right {
      /*border: 2px solid yellow;*/
      & .index_project_desc {
        right: 0;
        float: right;
      }
      & .index_project_thumb {
        float: left;
        /*NEEDS FIXING*/
      }
    }
  }
}
