{{ define "main" }}

<div class="project_header">
  <div class="project_inner_header">
    <a class="project_home_link" href="{{ $.Site.BaseURL }}">&#x2039;&#x2002;Back To Homepage </a>
  </div>
</div>


<div class="projects_inner_container">



  <div class="p_desc">
    
    <div class="p_title_container">
      <h2 class="p_title">{{ .Title }}</h2>
      <p class="p_info">{{ .Description }}</p>
    </div>

    <div class="p_role_container">
      <div class="p_role_title p_section_title">My Role</div>
      <div class="p_role_content">{{ .Params.p_role_content}}</div>
    </div>
  

    <div class="p_main_thumb_container">
      <div class="img_shadow"></div>
      <div class="img_container"></div>
    </div>

</div> <!-- end .index_project_desc -->

  {{.Content}}

</div> <!-- end .projects_inner_container [Template: list] -->
{{end}}