{{ define "main" }}
<div class="project_header">
  <div class="project_inner_header">
    <a class="project_home_link" href="{{ $.Site.BaseURL }}">&#x2039; &#x2002; Back To Homepage </a>
  </div>
</div>


<div class="projects_inner_container">




  <div class="project_lister_container">






    <div class="index_project_list index_project_{{.Title}} ">
      <div class="index_project_list_inner_container">
        <div class="index_project_thumb">
          <div class="project_thumb p_t_{{.Title}}">
            {{ if .Params.indexDots }} <div class="img_container dotted_box {{.Params.indexDots}}" alt="Project {{.Title}} Dots"></div>{{ end }}
            {{ if .Params.indexThumb1 }} <div class="img_container img1_container {{.Params.indexThumb1}}" alt="Project {{.Title}} Thumbnail 1"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb2 }} <div class="img_container img2_container {{.Params.indexThumb2}}" alt="Project {{.Title}} Thumbnail 2"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb3 }} <div class="img_container img3_container {{.Params.indexThumb3}}" alt="Project {{.Title}} Thumbnail 3"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
          </div>
        </div> 
        <div class="index_project_desc sr_direction_up">
          <h2 class='index_project_title '>{{ .Title }}</h2>
          <p class='index_project_info'>{{ .Description }}</p>
          <div class="index_project_secondary">
            <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
            <p class='index_project_role'>Role: {{ .Params.Role }}</p>
          </div>
          <!-- <a class="index_project_link" href="{{ .URL }}">View Project</a> -->
        </div> <!-- end .index_project_desc -->
      </div> <!-- end .index_project_list_inner_container -->
    </div><!-- end .index_project_list -->




    <div class="index_project_list index_project_{{.Title}} ">
      <div class="index_project_list_inner_container">
        <div class="index_project_thumb">
          <div class="project_thumb p_t_{{.Title}}">
            {{ if .Params.indexDots }} <div class="img_container dotted_box {{.Params.indexDots}}" alt="Project {{.Title}} Dots"></div>{{ end }}
            {{ if .Params.indexThumb1 }} <div class="img_container img1_container {{.Params.indexThumb1}}" alt="Project {{.Title}} Thumbnail 1"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb2 }} <div class="img_container img2_container {{.Params.indexThumb2}}" alt="Project {{.Title}} Thumbnail 2"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb3 }} <div class="img_container img3_container {{.Params.indexThumb3}}" alt="Project {{.Title}} Thumbnail 3"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
          </div>
        </div> 
        <div class="index_project_desc sr_direction_up">
          <h2 class='index_project_title '>{{ .Title }}</h2>
          <p class='index_project_info'>{{ .Description }}</p>
          <div class="index_project_secondary">
            <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
            <p class='index_project_role'>Role: {{ .Params.Role }}</p>
          </div>
          <!-- <a class="index_project_link" href="{{ .URL }}">View Project</a> -->
        </div> <!-- end .index_project_desc -->
      </div> <!-- end .index_project_list_inner_container -->
    </div><!-- end .index_project_list -->




    <div class="index_project_list index_project_{{.Title}} ">
      <div class="index_project_list_inner_container">
        <div class="index_project_thumb">
          <div class="project_thumb p_t_{{.Title}}">
            {{ if .Params.indexDots }} <div class="img_container dotted_box {{.Params.indexDots}}" alt="Project {{.Title}} Dots"></div>{{ end }}
            {{ if .Params.indexThumb1 }} <div class="img_container img1_container {{.Params.indexThumb1}}" alt="Project {{.Title}} Thumbnail 1"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb2 }} <div class="img_container img2_container {{.Params.indexThumb2}}" alt="Project {{.Title}} Thumbnail 2"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb3 }} <div class="img_container img3_container {{.Params.indexThumb3}}" alt="Project {{.Title}} Thumbnail 3"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
          </div>
        </div> 
        <div class="index_project_desc sr_direction_up">
          <h2 class='index_project_title '>{{ .Title }}</h2>
          <p class='index_project_info'>{{ .Description }}</p>
          <div class="index_project_secondary">
            <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
            <p class='index_project_role'>Role: {{ .Params.Role }}</p>
          </div>
          <!-- <a class="index_project_link" href="{{ .URL }}">View Project</a> -->
        </div> <!-- end .index_project_desc -->
      </div> <!-- end .index_project_list_inner_container -->
    </div><!-- end .index_project_list -->




    <div class="index_project_list index_project_{{.Title}} ">
      <div class="index_project_list_inner_container">
        <div class="index_project_thumb">
          <div class="project_thumb p_t_{{.Title}}">
            {{ if .Params.indexDots }} <div class="img_container dotted_box {{.Params.indexDots}}" alt="Project {{.Title}} Dots"></div>{{ end }}
            {{ if .Params.indexThumb1 }} <div class="img_container img1_container {{.Params.indexThumb1}}" alt="Project {{.Title}} Thumbnail 1"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb2 }} <div class="img_container img2_container {{.Params.indexThumb2}}" alt="Project {{.Title}} Thumbnail 2"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb3 }} <div class="img_container img3_container {{.Params.indexThumb3}}" alt="Project {{.Title}} Thumbnail 3"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
          </div>
        </div> 
        <div class="index_project_desc sr_direction_up">
          <h2 class='index_project_title '>{{ .Title }}</h2>
          <p class='index_project_info'>{{ .Description }}</p>
          <div class="index_project_secondary">
            <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
            <p class='index_project_role'>Role: {{ .Params.Role }}</p>
          </div>
          <!-- <a class="index_project_link" href="{{ .URL }}">View Project</a> -->
        </div> <!-- end .index_project_desc -->
      </div> <!-- end .index_project_list_inner_container -->
    </div><!-- end .index_project_list -->




    <div class="index_project_list index_project_{{.Title}} ">
      <div class="index_project_list_inner_container">
        <div class="index_project_thumb">
          <div class="project_thumb p_t_{{.Title}}">
            {{ if .Params.indexDots }} <div class="img_container dotted_box {{.Params.indexDots}}" alt="Project {{.Title}} Dots"></div>{{ end }}
            {{ if .Params.indexThumb1 }} <div class="img_container img1_container {{.Params.indexThumb1}}" alt="Project {{.Title}} Thumbnail 1"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb2 }} <div class="img_container img2_container {{.Params.indexThumb2}}" alt="Project {{.Title}} Thumbnail 2"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
            {{ if .Params.indexThumb3 }} <div class="img_container img3_container {{.Params.indexThumb3}}" alt="Project {{.Title}} Thumbnail 3"><div class="img_shadow"></div><div class="img_thumb"></div></div>{{ end }}
          </div>
        </div> 
        <div class="index_project_desc sr_direction_up">
          <h2 class='index_project_title '>{{ .Title }}</h2>
          <p class='index_project_info'>{{ .Description }}</p>
          <div class="index_project_secondary">
            <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
            <p class='index_project_role'>Role: {{ .Params.Role }}</p>
          </div>
          <!-- <a class="index_project_link" href="{{ .URL }}">View Project</a> -->
        </div> <!-- end .index_project_desc -->
      </div> <!-- end .index_project_list_inner_container -->
    </div><!-- end .index_project_list -->






  </div>  <!-- end .projects_container [Template: list] -->



{{.Content}}
</div>
{{end}}