
<div class="p_thumb_grid {{ .Get "groupclass" }}">
  <ul>
    <li class="gallery_1">
      <div class="gallery_title">{{ .Get "tag1" }}</div>
      <div class="img_container">
        <div class="img_shadow"></div>
        <div class="img_thumb"></div>
      </div>
      </li>
    <li class="gallery_2">
      <div class="gallery_title">{{ .Get "tag2" }}</div>
      <div class="img_container">
        <div class="img_shadow"></div>
        <div class="img_thumb"></div>
      </div>
      </li>
    <li class="gallery_3">
      <div class="gallery_title">{{ .Get "tag3" }}</div>
      <div class="img_container">
        <div class="img_shadow"></div>
        <div class="img_thumb"></div>
      </div>
      </li>
    <li class="gallery_4">
      <div class="gallery_title">{{ .Get "tag4" }}</div>
      <div class="img_container">
        <div class="img_shadow"></div>
        <div class="img_thumb"></div>
      </div>
      </li>
  </ul>
</div>