/*
  You can use import statements to include partials:
 */

@import "imports/reset.css";
@import "imports/base.css";
@import "imports/index.css";
@import "imports/projects.css";
@import "imports/projects.css";
@import "imports/project_shortcodes.css";
@import "imports/project_lister.css";
@import "imports/header.css";
@import "imports/footer.css";

@import "imports/projects/mcom.css";
/* @import "imports/mobile.css"; */


/* iMac*/
@media (height >= 960px) {
  .index_container {
    & .index_inner_container {
      height: 1100px;
      & .index_text_container {
        top:  35%;
      }
    }
    & .spark_container {
      left:  360px;
      top:  450px;
      &::before {
        height: 1900px !important;
        left:  0px !important;
        top:  -550px !important;
      }
    }
  }


  .project_lister_container {
    & .index_project_list {
      margin:  120px 0;
    }
  }
}

/* iPhone */
@media (width <= 700px) {
  /* body * { box-shadow: inset 0 0 1px 1px red; } */
  .index_container {
   
    & .index_inner_container {
      height: 500px;
      width: 100%;
      & .index_text_container {
        width: 92%;
        font-size: 14px;
        height:  90px;
        top:  50%;
        margin:  -45px 0 0 6%;
      }
      & .index_graphic_container {
        display: none;
      }
    }
  }

  .project_lister_container {
    & .index_project_list {
      height: auto;
      margin: 0 0 80px 0;
      & .index_project_list_inner_container {
        position: static;
        transform: none;
        width: 100%;
        top: 0;
        height: auto;
        & .index_project_desc {
          float: none;
          width: 92%;
          margin: 40px 4% 0 4%;
          height:  280px;
          & .index_project_title {
            margin-bottom: 10px;
          }

          & .index_project_info {
            font-size: 14px;
            margin-bottom: 10px;
          }
          & .index_project_secondary {
            margin:  0px 0 20px 0;
            font-size: 14px;
          }
          & .index_project_link {
            border:  1px solid;
            padding:  10px 20px;
            border-radius: 30px;
            font-size: 14px;
          }
        }
        & .index_project_thumb {
          float: none;
          width: 100%;
          margin: 0;
          padding: 0;
          & .project_thumb {
            /* border:  1px solid blue; */
            /* overflow: hidden; */
            & .img_container {
              /* border:  1px solid gold; */

              & .img_shadow {
                top:  0;
                left:  0;
              }
              & .img_thumb {
                top:  0;
                left:  0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
              }
              &.secondary_thumb {
                display: none;
              }
              &.dotted_box {
                width:  100%;
                height: 100px;
                left:  0%;
                margin-left:  0;
                margin-right:  0;
                bottom:  -25px;
       /*          width:  420px;
                height: 100px;
                left:  50%;
                margin-left:  -210px;
                bottom:  -25px; */
              }
              &.main_thumb::before {
                display: none;
              }
            }
            &.p_t_Mosaic {
              height:  220px;
              & .main_thumb {
                width:  310px;
                height: 223px;
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -155px;
                top: 0;
              }
            }
            &.p_t_Macys {
              height:  470px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -160px;
                top: 0;
              }
            }
            &.p_t_WFL {
              height:  500px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -156px;
                top: 0;
              }
            }
            &.p_t_Arc {
              height:  380px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -160px;
                top: 0;
              }
            }
          }
        }
      }
    }
  }

}