@import "imports/reset.css";
@import "imports/base.css";
@import "imports/index.css";
@import "imports/projects.css";
@import "imports/project_shortcodes.css";
@import "imports/project_lister.css";
@import "imports/header.css";
@import "imports/footer.css";

@import "imports/projects/mcom.css";
@import "imports/projects/mosaic.css";
@import "imports/projects/wfl.css";
@import "imports/projects/arc.css";
/* @import "imports/mobile.css"; */


.mobile_only {
  display: none;
}

/* iMac*/
@media (height >= 960px) {
  .index_container {
    & .index_inner_container {
      height: 1100px;
      & .index_text_container {
        top:  46.5%;
      }
    }

    & .index_inner_container .index_graphic_container .index_graphic_inner_container .spark_container {
      left:  410px;
      top:  500px;
      & .arrow_down {
        top:  510px;
        left:  -55px;
      }
      &::before {
        height: 1760px;
        left:  0px;
        top:  -550px;
      }
    }
  }


  .project_lister_container {
    & .index_project_list {
      margin:  120px 0;
    }
  }
}

/* iPhone */
@media (width <= 700px) {
  /* body * { box-shadow: inset 0 0 1px 1px red; } */
  body {
    & p {
      /* font-weight: 400; */

    }
  }


  .mobile_only {
    display: block;
  }

  .index_container {
   
    & .index_inner_container {
      height: 500px;
      width: 100%;
      & .index_text_container {
        width: 80%;
        font-size: 14px;
        height:  90px;
        top:  50%;
        margin:  -45px 0 0 0;
        margin: -45px 4% 0 4%;
        & .second_p {
          margin-top: 10px;
        }
      }
      & .index_graphic_container {
        display: none;
      }
    }
  }


  /********************************/
  /* Project Lister
  /********************************/
  .project_lister_container {
    & .index_project_list {
      height: auto;
      margin: 0 0 100px 0;
      & .index_project_list_inner_container {
        position: static;
        transform: none;
        width: 100%;
        top: 0;
        height: auto;
        display: block;
        & .index_project_desc {
          width: 92%;
          margin: 60px 4% 0 4%;
          height:  280px;
          & .index_project_title {
            margin-bottom: 10px;
          }

          & .index_project_info {
            font-size: 14px;
            margin-bottom: 10px;
          }
          & .index_project_secondary {
            margin:  0px 0 20px 0;
            font-size: 14px;
          }
          & .index_project_link {
            border:  1px solid;
            border-radius: 30px;
            font-size: 14px;
            height: 42px;
            width:  120px;
            text-align: center;
            & span {
              display: none;
            }
            & span.text {
              height: auto;
              margin:  10px auto 0;
              transform: none;
              display: block;
            }
          }
        }
        & .index_project_thumb {
          float: none;
          width: 100%;
          margin: 0;
          padding: 0;
          & .project_thumb {
            & .img_container {
              & .img_shadow {
                top:  0;
                left:  0;
              }
              & .img_thumb {
                top:  0;
                left:  0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
              }
              &.secondary_thumb {
                display: none;
              }
              &.dotted_box {
                width:  100%;
                height: 100px;
                left:  0%;
                margin-left:  0;
                margin-right:  0;
                bottom:  -25px;
              }
              &.main_thumb::before {
                /* display: none; */
              }
            }
            &.p_t_Mosaic {
              height:  220px;
              & .main_thumb {
                width:  310px;
                height: 223px;
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -155px;
                top: 0;
              }
            }
            &.p_t_Macys {
              height:  470px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -160px;
                top: 0;
              }
            }
            &.p_t_WFL {
              height:  500px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -156px;
                top: 0;
              }
            }
            &.p_t_Arc {
              height:  380px;
              & .main_thumb {
                right: auto;
                bottom: auto;
                left:  50%;
                margin-left: -160px;
                top: 0;
              }
            }
          }
        }
      }
    }
  }



  /********************************/
  /* Project Pages
  /********************************/
  .projects_inner_container {

    & .p_section_top {
      display: block;
    }

    & .project_section_container {
      margin-top: 180px;

      /* Grid layouts */
      & .p_thumb_grid {
        width:  100%;
        height:  650px;
        overflow-x: scroll;
        /* border:  1px solid red; */
        -webkit-overflow-scrolling: touch;
        & ul {
          width:  1380px;
          /* background-color: yellow; */
          & .gallery_1, & .gallery_2, & .gallery_3, & .gallery_4 {
            opacity: 1 !important;
            transform: translateY(0px) scale(1) !important;
          }
        }
      }

      & .mobile_x_overflow {
        width: auto;
        padding-left:  10px;
        overflow-x: scroll;
        overflow-y: hidden;
        webkit-overflow-scrolling: touch;
      }


      /* Project Wrap Up */
      &.project_section_wrap_up {
        padding: 20px;
        margin-top: 80px;
        & .flex_container {
          display: block;
          & .flex_r  {
            margin-top:  80px;
          }
        }
      }
    }
  }


  /********************************/
  /* Project specific pages
  /********************************/
  body.mcom {
    & .primary_content_container {
      & .projects_inner_container {
        & .p_section_top {
          & .p_main_thumb_container {
            height: 700px;
            margin-top: 80px;
            /* background-color: yellow; */
            & .p_img_1noshadow {
              /* position: static; */
              margin-left: -149px;
              left:  50%;
              top:  0;
            }
            & .p_dots_box {
              /* position: static; */
              margin-left: -160px;
              left:  50%;
              top:  auto;
              bottom:  180px;
              width:  320px;
            }
            
          }
        }
        /* Design process */
        & .mcom_p_section2 {
          height: auto;
          & .project_section_inner_container {
            display: block;
            & .section_left {
              & .section_light_bg {
                display: none;
              }
              & .s_l_inner_contain {
                margin:  0;
                & .design_process_container {
                  margin-top:  0;

                  & .img_container {
                    height: 240px;
                    position: relative;
                    display: flex;
                    margin:  0 10px;
                    & .img_inner_container {
                      flex:  1;
                      position: absolute;
                      top:  0;
                      width:  100%;
                      height: 200px;
                    }
                    &.img_container1 .img_thumb{
                      background-image: url("/images/project/mcom/mcom_process_1.png");
                      background-size: cover;
                    }
                    &.img_container2 .img_thumb{
                      background-image: url("/images/project/mcom/mcom_process_3.png");
                      background-size: cover;
                    }
                    &.img_container3 .img_thumb{
                      background-image: url("/images/project/mcom/mcom_process_6.png");
                      background-size: cover;
                    }
                  }
                  & dl {
                    padding-right:  0px;
                    padding-left: 0;
                    & dt.h3_styling {
                      padding: 0 10px;
                    }
                    & dd {
                      margin-bottom: 80px;
                      padding: 0 10px;
                    }
                  }
                }
              }

            }
            & .section_right {
              display: none;
            }
          }
        }

        & .mcom_p_section3 .grid_mcom_lists{
          height: 730px;
        }
        & .mcom_p_section4 .grid_mcom_pdp{
          height:  975px;
          & ul {
            width:  1050px;
          }
        }
      }
    }
  }



  body.mosaic {
    & .primary_content_container {
      & .projects_inner_container {
        & .p_section_top {
          & .left_panel {
            height:  550px;
            width:  100%;
          }
          & .right_panel {
            height:  550px;
            width:  100%;
            & .p_img_1 {
              width:  319px;
              height: 390px;
              left:  50%;
              margin-left: -160px;
              & .img_thumb {
                background-color: #eee;  
              }
              &::before {
                height:  560px;
                top:  -30px;
                left:  50%;
              }
            }
            & .p_img_2 {
              width:  260px;
              height: 290px;
              left:  50%;
              margin-left:  -130px;
              top: 210px;
            }
            & .p_dots_box {
              width:  300px;
              height: 240px;
              left:  50%;
              margin-left: -150px;
            }
          }
        }
        & .mosaic_p_section1 .p_features_container{
          width:  auto;
          padding:  0 10px 0 30px;
        }

        & .mosaic_p_section2 {
          & .dashboard_preview {
            & .image_wrapper {
              width:  820px;
              height:  462px;
              overflow: hidden;
              & .overlay_container {
                display: none;
              }
            }
          }
        }

        & .mosaic_p_section3 .flat_grid_container .flat_grid{
          margin:  0;
        } 
        & .mosaic_p_section4 .smartlists_preview .image_wrapper{
          width:  820px;
          height:  478px;
        }
        & .mosaic_p_section5 .stock_modal_preview .image_wrapper {
          width:  820px;
          height:  420px;
        }
        & .mosaic_p_section7 .p_thumb_grid {
          height:  860px;
          & ul {
            width:  1220px;
          }
        }
        & .mosaic_p_section8 .p_thumb_grid {
          height:  500px;
        }


      }
    }
  }




  body.wfl {
    & .primary_content_container {
      & .projects_inner_container {


        & .p_section_top {
          & .left_panel {
            height:  600px;
            width:  100%;
          }
          & .right_panel {
            height:  500px;
            width:  100%;
            & .p_img_1 { 
              top:  0;
              left:  50%;
              margin-left: -157px;
              & .img_thumb {
                background-color: #eee;  
              }
              &::before {
                height:  560px;
                top:  -30px;
                left:  50%;
              }
            }
            & .p_img_2 {
              display: none;
            }
            & .p_img_3 {
              left:  50%;
              top:  300px;
              margin-left:  -168px;
            }
            & .p_img_4 {
              left:  50%;
              top:  300px;
              margin-left:  10px;
            }
            & .p_dots_box {
              width:  300px;
              height: 240px;
              left:  50%;
              margin-left: -150px;
            }
          }
        }

        & .wfl_p_section1 {
          margin-top:  180px;
        }

        & .wfl_p_section2 .p_thumb_grid{
          height:  550px;
        }

        & .wfl_p_section3 {
          & .storyline .image_wrapper{
            height:  640px;
            /* border:  1px solid green; */
            /* width:  700px; */
            /* background-color: blue; */
            &.hovered .overlay_container{
              /* background-color: red; */
            }
            &> .img_thumb, &> .img_shadow {
             display: none;
            }
            & .overlay_container {
              width:  4900px;
              /* background-color: red; */
              overflow: hidden;

              & .feature_pop_up {
                float:  left;
                width:  700px;
                height:  670px;
                position: relative;
                /* border:  1px solid gold; */
                left:  0;
                top:  0;

                & .timeline {
                  width:  100%;
                  height:  2px;
                  background-color:  var(--ojabstractLines);
                  margin-top: 35px;
                  position: relative;
                  & .left_notch {
                    position: absolute;
                    height: 10px;
                    width:  2px;
                    background-color:  var(--ojabstractLines);
                    left:  0;
                    top:  -4px;
                  }
                  & .timeline_counter {
                    width:  30px;
                    height:  30px;
                    position: absolute;
                    left:  155px;
                    top:  -12px;
                    /* border:  2px solid var(--ojabstractLines); */
                    border-radius: 50%;
                    background-color: var(--ojabstractLines);
                    text-align: center;
                    line-height: 2.5;
                    font-weight: bold;
                    font-size:  12px;
                  }
                }
                & .indicator {
                  left:  0;
                  top:  0;
                  position: relative;
                  display: none;
                  & .outer_ring, & .animation_beat {
                    display: none;
                  }
                }
                & .img_container_1 {
                  left:  0;
                  top:  80px;
                  display: block !important;
                  opacity:  1;
                }
                & .img_container_2 {
                  left:  350px;
                  top:  00px;
                  display: block !important;
                  opacity:  1;
                }
              }
            }
          }
        }


      }
    }
  }

  /********************************/
  /* Project Header
  /********************************/
  #project_header .project_inner_header {
    margin-left:  10px;
  }

  /********************************/
  /* Mobile Footer
  /********************************/
  footer {
    & .footer_inner_container {
      display: block;
      & .footer_left {
        height:  100px;
        width : 100%;
        & .dot_box_container {
          width:  100%;
        }
        & .footer_highlight_line {
          bottom:  -20px;
          top:  auto;
          right:  auto;
          left:  4%;
          height:  54px;
          width:  2px;
        }
      }
      & .footer_right {
        padding: 60px 20% 0 4%;
        margin-top: 0;

        & p {
          margin-bottom: 30px;
          & a {
            color:  var(--ojyw);
          }
        }
        & .footer_copyright {
          & p {
            width: 300px;
            margin:  0;
          }
        }
      }
    }
  }

}