/*
  You can use import statements to include partials:
 */

@import "imports/reset.css";
@import "imports/base.css";
@import "imports/index.css";
@import "imports/header.css";
@import "imports/footer.css";
@import "imports/mobile.css";



body {
/*   
  background-image: url("/images/bg_test.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; 
  */
}