{{ partial "header" . }}



<div class="index_container">
  <div class="index_inner_container">
    <div class="index_text_container">
      <p>Hi, my name is Omar Jalalzada and I'm a product designer based in San Francisco, CA. </br> I know that guac is extra and this is my portfolio.</p>
    </div>
    <div class="index_graphic_container">
      <!-- placeholder for main image -->
    </div>
  </div>

</div>



<div class="projects_container">

{{ range .Data.Pages }}
  <div class="index_project_list index_project_{{.Title}} {{ .Params.indexLayout }}">
  
    <div class="index_project_list_inner_container">
     

      <div class="index_project_thumb">
         <div class="project_thumb p_t_{{.Title}}"></div>
      </div> 
      <div class="index_project_desc">
        <h2 class='index_project_title'>{{ .Title }}</h2>
        <p class='index_project_info'>{{ .Description }}</p>
        <div class="index_project_secondary">
          <p class='index_project_platform'>Platform: {{ .Params.Platform }}</p>
          <p class='index_project_role'>Role: {{ .Params.Role }}</p>
        </div>
        <a class="index_project_link" href="{{ .URL }}">View Project</a>
      </div> <!-- end .index_project_desc -->


    </div> <!-- end .index_project_list_inner_container -->

    
    <div class="index_project_pop_up" style="display: none;">
      {{ .Content }}
    </div>


  </div><!-- end .index_project_list -->
{{ end }}

</div> <!-- end .projects_container -->


{{ partial "footer" . }}
