{{ define "main" }}

  <div class="index_container" id="index_container">
    
    <div class="index_inner_container">

      <div class="index_text_container  sr_direction_up">
        <p>Hi, my name is Omar Jalalzada and I'm a product designer based in San Francisco, CA. 
        </br> I like Papalote and this is my portfolio.</p>
      </div>

      <div class="index_graphic_container">
        <!-- placeholder for main image -->
          <div class="index_graphic_inner_container">
            <span class='spark_container' id="sparkie">
              <span class='l_1'></span>
              <span class='l_2'></span>
              <span class='r_1'></span>
              <span class='r_2'></span>
              <span class='r_3'></span>
            </span>
          </div>
      </div>
    </div>

  <div class="project_lister_container">
    {{ partial "project_lister" . }}
  </div>

</div> <!-- end .index_container -->

{{ end }}