
body.arc {
  & .primary_content_container {
    & .projects_inner_container {



      /********************************/
      /* SECTION TOP
      /********************************/
      & .p_section_top {
        & .p_main_thumb_container {
          height: 100%;
          
          & .p_img_1 {
            height:  420px;
            width:  320px;
            position: absolute;
            top:  100px;
            left:  260px;
            z-index: 10;
            & .img_thumb { 
              background-image: url("/images/project/arc/arc_top_compass.png");
            }
          }
          & .p_img_2 {
            height:  500px;
            width:  320px;
            position: absolute;
            top:  -80px;
            left:  10px;
            z-index: 10;
            & .img_thumb {
              background-image: url("/images/project/arc/arc_top_story.png");
            }

          }
          & .p_dots_box {
            height:  500px;
            width:  360px;
            position: absolute;
            left:  15%;
            margin-left:  -10px;
            top: 30%;
            z-index: -10;
          }
        }
      }






      /********************************/
      /* SECTION ONE - Feature List
      /********************************/
      & .arc_p_section1 {

        & .grid_arc_preso {
          & .img_container {
            height: 440px;
            width:  440px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_preso_2.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_preso_1.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_preso_3.png");
          }
          & .gallery_4 {
            display: none;
          }
        }
        
      }





      /********************************/
      /* SECTION TWO Home to Story
      /********************************/

      & .arc_p_section2 {


        & .grid_arc_home {
          & .img_container {
            height: 568px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            
            background-image: url("/images/project/arc/arc_feed.png"); 
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_feed_condensed.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_nav.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_profile.png");
          }
        }


      }


      /********************************/
      /* SECTION Three - Story
      /********************************/

      & .arc_p_section3 {

        & .img_container {
          height: 640px;
        }
        & .grid_arc_stories {

          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_story_top_section.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_reading_control.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_navigator.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            
            background-image: url("/images/project/arc/arc_compass.png"); 
          }
        }
        & .grid_arc_stories_cont {
          margin-top:  80px;
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_story_qoute.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_story_intro_foley.png"); 
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_story_intro_abdel.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_story_comment.png");
          }
        }


      }




      /********************************/
      /* SECTION Four - Widgets
      /********************************/

      & .arc_p_section4{


        & .grid_arc_stories_widgets {
          & .img_container {
             height: 568px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_widget_youtube.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_widget_soundcloud.png"); 
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_widget_twitter.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/arc/arc_widget_mapbox.png");
          }
        }


      }






    }
  }
}


