
body.mcom {
  & .primary_content_container {
    & .projects_inner_container {




      /********************************/
      /* SECTION TOP
      /********************************/
      & .p_section_top {

        & .p_main_thumb_container {
          height: 100%;
          
          & .p_img_1noshadow {
            height:  714px;
            width:  298px;
            position: absolute;
            top:  -100px;
            left:  50%;
            margin-left:  -100px;
            background-image: url("/images/project/mcom/section_1_iphone_thumb@2x.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &::before {
              content:  " ";
              width:  2px;
              transform: rotate(5deg);
              position: absolute;
              display: block;
              background-color: var(--ojabstractLines);
              box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
              border-radius: 1px;
              height: 760px;
              left:  50%;
              top:  -30px;
              z-index: -10;
            }
          }
          & .p_dots_box {
            height:  280px;
            width:  400px;
            position: absolute;
            left:  28%;
            margin-left:  -10px;
            top: 60%;
            margin-top: -140px;
            z-index: -10;
          }
        }
      }



      /********************************/
      /* SECTION ONE
      /********************************/
      & .mcom_p_section1 {
        /* background-color: yellow; */
        /* margin-top: 200px; */
        & .grid_mcom_feature {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_home.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_nav_category.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_nav_men.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_product_tile.png");
          }
        }
      }

      /********************************/
      /* SECTION TWO — DESIGN PROCESS */
      /********************************/
      & .mcom_p_section2 {
        /* border:  2px solid gold; */
        height:  1160px;
        position: relative;
        & .project_section_inner_container {
          max-width: var(--oj_maxwidth);
          margin:  auto;
        }
        & .section_left {
          position: relative;
          flex: 2;
          & .section_light_bg {
            background-color: var(--ojtl01);
            border:  1px solid var(--ojtl2);
            position: absolute;
            right:  0;
            top:  0;
            height:  1160px;
            width:  10000px;   
            border-radius: 3px;   
            z-index: -10;    
          }
          & .s_l_inner_contain {
            /* background-color: pink; */
            margin-top: 110px;
            & .design_process_container {
              margin-top: 140px;
              & dl {
                padding-left:  10px;
                & dt {
                }
                & dd {
                  display: block;
                  padding: 0;
                  margin: 0 0 110px 0;
                }
              }
            }
          }
        }
        & .section_right {
          /* border:  2px solid purple; */
          position: relative;
          & .s_r_inner_container {
            /* background-color: red; */
            position: absolute;
            left:  -310px;
            top:  265px;
            & .img_row {
              margin:  0 0 30px 0;
              height: 220px;
              width:  1180px;
              & .img_container {
                margin-right: 30px;
                width:  510px;
                height: 220px;
                float:  left;
                border-radius: 3px;
                position: relative;
              }
              &.img_row1 {
                & .img_1 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_1.png");
                }
                & .img_2 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_4.png");
                }
              }
              &.img_row2 {
                margin-left:  120px;
                & .img_1 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_3.png");
                }
                & .img_2 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_2.png");
                }
              }
              &.img_row3 {
                & .img_1 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_5.png");
                }
                & .img_2 .img_thumb{
                  background-image: url("/images/project/mcom/mcom_process_6.png");
                }
              }

            }
          }
        }
        /* background-color: purple; */
      }



      /********************************/
      /* SECTION THREE — LISTS & REGISTRY */
      /********************************/
      & .mcom_p_section3 {
        /* margin-top: 200px; */
        & .grid_mcom_lists {
          & .img_container {
            height:  650px;
          }
          & .gallery_1 .img_container {
            
            & .inner_img_container1 .img_thumb {
              background-image: url("/images/project/mcom/mcom_list_1.png");
            }
            & .inner_img_container2 {
              display: none;
            }
          }
          & .gallery_2 {
            /* background-color:  red; */
            & .inner_img_container1 {
              height: 243px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_list_2.png");
              }
            }
            & .inner_img_container2 {
              display: block;
              margin-top:  50px;
              height: 359px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_list_3.png");
              }
            }
          }
          & .gallery_3 {
            & .inner_img_container1 .img_thumb {
              background-image: url("/images/project/mcom/mcom_list_4.png");
            }
          }
          & .gallery_4 {
            & .inner_img_container1 {
              height: 363px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_list_5.png");
              }
            }
            & .inner_img_container2 {
              display: block;
              margin-top:  46px;
              height: 239px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_list_6.png");
              }
            }
          }
        }
      }


      /********************************/
      /* SECTION FOUR — PDP */
      /********************************/
      & .mcom_p_section4 {
        /* margin-top: 200px; */
        & .grid_mcom_pdp {
          & .img_container {
            height:  876px;
          }
          & .gallery_1 {
            & .inner_img_container1 {
              height: 582px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_pdp_1.png");
              }
            }
            & .inner_img_container2 {
              display: block;
              margin-top:  86px;
              height: 208px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_pdp_2.png");
              }
            }
          }
          & .gallery_2 {
            & .inner_img_container1 .img_thumb {
              background-image: url("/images/project/mcom/mcom_pdp_3.png");
            }
          }
          & .gallery_3 {
            & .inner_img_container1 {
              height: 208px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_pdp_4.png");
              }
            }
            & .inner_img_container2 {
              display: block;
              margin-top:  90px;
              height: 567px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mcom/mcom_pdp_5.png");
              }
            }
          }
          & .gallery_4 {
            display: none;
          }
        }
      }



      /********************************/
      /* SECTION FIVE — BLOOMINGDALES */
      /********************************/
      & .mcom_p_section5 {
        /* margin-top: 200px; */
        /* background-color: #000; */
        /* padding:  100px 0; */
        & .grid_mcom_bloomies {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_bcom_1.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_bcom_2.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_bcom_3.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mcom/mcom_bcom_4.png");
          }
        }
      }








    }
  }
}
