
body.mosaic {
  & .primary_content_container {
    & .projects_inner_container {



      /********************************/
      /* SECTION TOP
      /********************************/
      & .p_section_top {
        & .p_main_thumb_container {
          height: 100%;
          
          & .p_img_1 {
            height:  644px;
            width:  528px;

            position: absolute;
            top:  -50px;
            left:  20px;
            & .img_thumb { 
              background-image: url("/images/project/mosaic/mosaic_top_section_grid_widget.png");
            }
            &::before {
              content:  " ";
              width:  2px;
              transform: rotate(5deg);
              position: absolute;
              display: block;
              background-color: var(--ojabstractLines);
              box-shadow: 0 0 0 1px color(var(--ojtl) shade(2%) a(50%));
              border-radius: 1px;
              height: 800px;
              left:  60%;
              top:  -60px;
              z-index: -10;
            }
          }
          & .p_img_2 {
            height:  534px;
            width:  480px;
            position: absolute;
            top:  100px;
            left:  140px;
            & .img_thumb { 
              background-image: url("/images/project/mosaic/mosaic_top_section_search.png");
            }
            & .img_shadow { 
              width:  90%;
              left:  5%;
              top:  2%;
              height:  95%;
            }

          }
          & .p_dots_box {
            height:  580px;
            width:  490px;
            position: absolute;
            left:  15%;
            top: 10%;
            margin-top: 0px;
            z-index: -10;
          }
        }
      }




      /********************************/
      /* SECTION FOUR - Mosaic Features */
      /********************************/
      & .mosaic_p_section1 {

        & .toggler_container {
          & .inner_toggler_container {
            background-color: var(--ojtl0);
            box-shadow: 0 0 10px 5px var(--ojtl0);
            margin: 0 0 30px 0;
          }
          & .toggler_content {
            & .img_thumb.content1 { 
              background-image: url("/images/project/mosaic/stock_detail.png");
            }
            & .img_thumb.content2 {
              background-image: url("/images/project/mosaic/smartlist.png");
            }
          }
        }
      }


      /********************************/
      /* SECTION TWO — Dashboard
      /********************************/
      & .mosaic_p_section2 {

        & .dashboards_container {
          & .dash_top_section {
            padding-bottom: 200px;
            border-radius: 3px;
            background-color: color(var(--ojtl) shade(0.5%));
            box-shadow: 0 1px 1px color(var(--ojtl) tint(50%) a(20%)),
                        inset 0 1px 0px color(var(--ojtl) shade(4%)),
                        inset 0 0 2px color(var(--ojtl) shade(4%)),
                        inset 0 1px 1px color(var(--ojtl) shade(3%));
            & .flex_container {
              padding: 120px;
              & .flex_r {
                padding-left: 100px;
              }
              & .flex {
                /*border: 1px solid blue; */
              }
              & .p_section_title {
                padding-left: 40px;
              }
              & ul {
                /*border: 1px solid;*/
                /*margin-left: -40px;*/
                /*list-style-position: inside;*/
                & li {
                  margin-bottom: 15px;
                  /*max-width: 430px*/
                }
              }
            }
          }


          & .toggler_container {
            /* toggler bar */
            margin-top: -200px;
            & .toggler_content {
              & .img_thumb.content1 { 
                background-image: url("/images/project/mosaic/dashboard.png");
              }
              & .img_thumb.content2 {
                background-image: url("/images/project/mosaic/stock_detail.png");
              }
            }
          }



        }
      }




      /********************************/
      /* SECTION Three — Design System */
      /********************************/
      & .mosaic_p_section3 {
        & .grid_mosaic_design_sys {
          & .img_container {
            height: 420px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_physics.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_color.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_forms.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_icons_2.png");
          }
        }
      }



      /********************************/
      /* SECTION Four — iPad Case Study */
      /********************************/
      & .mosaic_p_section4 {
        & .case_study_container {
          & .slide_container {
            & .slide_inner_container {}
            height: 740px;
            width: 100%;
            margin-bottom: 180px;
            border: 1px solid red;
            /*background-color: rgba(0,0,0,0.1);*/
            &.box_slide {
              height: 740px;
              width: 100%;
              background-color: color(var(--ojtl01));
              border-radius: 4px;
              transition: all .8s cubic-bezier(0.850, -0.245, 0.150, 1.355);
              box-shadow: 0 1px 2px color(var(--ojtl) shade(6%)),
                          0 2px 4px color(var(--ojtl) shade(4%) a(50%));
              & .flex {
                height: 740px;
              }

              & .box_slide_text_section_container {
                margin-top: 170px;
                margin-left: 180px;
                max-width: 430px;
                & .p_casestudy_header {
                  margin-bottom: 90px;
                }

                & li {
                  list-style: none;
                  margin-bottom: 26px;
                  font-size: 16px;
                  position: relative;
                  &::before {
                    content: "• ";
                    color: var(--ojtl4); /* or whatever color you prefer */
                    font-size: 12px;
                    position: absolute;
                    font-weight: bold;
                    left: -20px;
                    top: 2px;
                  }
                }
              }
              & .thumbnail_container {
                text-align: center;
                margin-top: 170px;

                & .thumb_image_container {
                  width: 220px;
                  height: 280px;
                  margin: auto;
                  position: relative;
                  &:hover .hover_credit_container {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    cursor: pointer;

                    & .hover_text_container {
                      color: rgba(255,255,255,0.5);
                      font-size: 10px;
                      text-align: left;
                      position: absolute;
                      bottom: 20px;
                      left: 20px;

                    }
                  }
                }
                & .qoute {
                  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
                  font-size: 12px;
                  color: var(--ojtl5);
                  line-height: 19px;
                  max-width: 260px;
                  margin: 36px auto 0 auto;
                }
              }
            }


            &.slide_1 {
              & .thumbnail_container .img_thumb{
                background-image: url("/images/project/mosaic/mosaic_cs_einstien_problem.png");
              }
            }

            &.slide_2 {
              & .p_casestudy_header {
                margin-bottom: 100px;
              }
              & .interview_note {
                padding: 60px;
                background-color: color(var(--ojtl01));
                border-radius: 2px;
                position: relative;
                max-width: 400px;
                margin: 0 auto 100px auto;
                box-shadow: 0 1px 2px color(var(--ojtl) shade(6%)),
                            0 2px 4px color(var(--ojtl) shade(4%) a(50%));
                &::before {
                  content: '“';
                  font-size: 80px;
                  line-height: 1;
                  color: var(--ojtl2);
                  font-family: Arial;
                  font-weight: bold;
                  position: absolute;
                  top: -28px;
                  left: 40px;
                  width: 40px;
                  height: 40px;
                  text-shadow: 0 1px var(--ojtl3);
                }
                
                &::after {
                  content: '”';
                  font-size: 80px;
                  line-height: 1;
                  color: var(--ojtl2);
                  font-family: Arial;
                  font-weight: bold;
                  position: absolute;
                  right: 50px;
                  bottom: -25px;
                  width: 40px;
                  height: 40px;
                  text-shadow: 0 1px var(--ojtl3);
                }
              }
            }


            &.slide_3 {
              & .thumbnail_container .thumb_image_container {
                height: 310px;
                & .img_thumb {
                  background-image: url("/images/project/mosaic/mosaic_cs_edison.png");
                }
              }
              & .thumbnail_container .qoute {
                max-width: 230px;
              }
            }

            &.slide_4 {
              & .p_casestudy_header {
                margin-bottom: 60px;
              }
              & .image_container {
                width: 80%;
                height: 280px;
                margin: auto;
                position: relative;
                margin-bottom: 40px;
              }
            }



            &.slide_5 {
              & .p_casestudy_header {
                margin-bottom: 60px;
              }
              & .image_container {
                width: 100;
                height: 629px;
                margin: auto;
                position: relative;
                & .img_thumb {
                  background-image: url("/images/project/mosaic/mosaic_cs_iterations.png");
                }
              }
            }

            &.slide_6 {
              & .ipad_demo_container {
                margin-top: 80px;
                & .ipad_outter_bevel {
                  width: 420px;
                  height: 600px;
                  background: #E3E5E5;
                  box-shadow: 0 10px 20px 0 rgba(205,209,208,0.26), 0 0 1px 0 #CDD1D0, 0 1px 3px 0 rgba(198,204,202,0.68), inset 0 1px 2px 0 rgba(255,255,255,0.27);
                  border-radius: 10px;
                  position: relative;
                  margin: auto;
                  & .ipad_screen_container {
                    width: 367px;
                    height: 498px;
                    background-color: var(--ojtl5);
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0px 2px var(--ojtl6);
                    margin-left: -calc(367/2)px;
                    text-align: center;
                    font-size: 12px;
                    color: var(--ojtl8);
                    line-height: 20;
                  }
                  & .ipad_home_button {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    margin-left: -13px;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background: #E3E5E5;
                    box-shadow: 0 1px 1px 0 rgba(255,255,255,0.73),
                                inset 0 1px 1px 0 #BFC7C4, 
                                inset 0 1px 2px 0 #CDD1D0;
                  }
                }

              }
            }

          }
        }
      }


      /********************************/
      /* SECTION Five — Mobile */
      /********************************/

      & .mosaic_p_section5 {
        /* background-color: yellow; */
        /* margin-top: 200px; */
        & .grid_mosaic_mobile {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_landing.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_nav.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_notifications.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_reasearch.png");
          }
        }
      }



    }
  }
}