
body.mosaic {
  & .primary_content_container {
    & .projects_inner_container {



      /********************************/
      /* SECTION TOP
      /********************************/
      & .p_section_top {
        & .p_main_thumb_container {
          height: 100%;
          
          & .p_img_1 {
            height:  644px;
            width:  528px;

            position: absolute;
            top:  0px;
            left:  20px;
            & .img_thumb { 
              background-image: url("/images/project/mosaic/mosaic_top_section_grid_widget.png");
            }
            &::before {
              content:  " ";
              width:  2px;
              transform: rotate(5deg);
              position: absolute;
              display: block;
              background-color: var(--ojabstractLines);
              box-shadow: 0 0 0 1px color(var(--ojtl) shade(4%) a(50%));
              border-radius: 1px;
              height: 960px;
              left:  60%;
              top:  -60px;
              z-index: -10;
            }
          }
          & .p_img_2 {
            height:  534px;
            width:  480px;
            position: absolute;
            top:  300px;
            left:  140px;
            & .img_thumb { 
              background-image: url("/images/project/mosaic/mosaic_top_section_search.png");
            }
            & .img_shadow { 
              width:  90%;
              left:  5%;
              top:  2%;
              height:  95%;
            }

          }
          & .p_dots_box {
            height:  630px;
            width:  460px;
            position: absolute;
            left:  15%;
            margin-left:  -10px;
            top: 60%;
            margin-top: -140px;
            z-index: -10;
          }
        }
      }






      /********************************/
      /* SECTION ONE - Feature List
      /********************************/
      & .mosaic_p_section1 {
        margin-top: 80px;
      }





      /********************************/
      /* SECTION TWO — Dashboard
      /********************************/
      & .mosaic_p_section2 {
        & .dashboard_preview {
          & .image_wrapper {
            position: relative;
            width: var(--oj_beyond_width);
            height:  822px;
            margin:  auto;
            & > .img_thumb { 
              background-color: #334A6F;
              background-image: url("/images/project/mosaic/dashboard.png");
            }
            & .overlay_container {

              & .features_1 {
                top:  12px;
                left:  230px;
                & .indicator {
                  & .line {
                    right:  auto;
                    left:  2px;
                  }
                }
                & .img_container {
                  height: 414px;
                  width:  371px;
                  top: -40px;
                  left:  50px;
                  & .img_thumb {
                    background-image: url("/images/project/mosaic/dashboard_overlay_manage.png");
                    /* box-shadow: none; */
                    background-color: #eee;
                  }
                }
              }

              & .features_2 {
                top:  -20px;
                right:  117px;
                & .img_inner_container_1 {
                  width:  275px;
                  height: 376px;

                  position: absolute;
                  top: -40px;
                  right:  120px;
                  & .img_thumb {
                    background-image: url("/images/project/mosaic/dashboard_overlay_create.png");
                    background-color: #eee;
                  }
                }
                & .img_inner_container_2 {
                  width:  614px;
                  height: 446px;
                  position: absolute;
                  top: -40px;
                  right:  410px;
                  & .img_thumb {
                    background-image: url("/images/project/mosaic/dashboard_overlay_create_2.png");
                    background-color: #eee;
                  }
                }
              }


            }
          }
        }
      }




      /********************************/
      /* SECTION THREE — Widget Library
      /********************************/
      & .mosaic_p_section3 {
        margin-top: 160px;
        /* background-color: blue; */
        & .flat_grid {
          /* border:  1px solid red; */
          height:  822px;
          width: var(--oj_beyond_width);

          position: relative;
          margin: 80px auto 0;
          & .img_size1 {
            width:  var(--img_size_1_width);
            height:  var(--img_size_1_height);  
          }
          & .img_size2 {
            width: 968px;
            height: 535px;
          }

          & .img_container {
            position: relative;
            & .img_thumb {
              background-color: transparent;
              box-shadow: none;
            }
            &.img_container1 {
              position: absolute;
              left:  0;
              top:  0;
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_perfromance.png");
              }
            }
            &.img_container2 {
              position: absolute;
              left:  calc(var(--img_size_1_width)+20px);
              top:  0;
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_chart.png");
              }
            }
            &.img_container3 {
              position: absolute;
              left:  calc((var(--img_size_1_width)*2)+40px);
              top:  0;
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_chart2.png");
              }
            }
            &.img_container4 {
              position: absolute;
              top:  calc(var(--img_size_1_height)+20px);
              left:  0;
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_agenda.png");
              }
            }
            &.img_container5 {
              position: absolute;
              top:  calc((var(--img_size_1_height)*2)+40px);
              left:  0;
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_task.png");
              }
            }
            &.img_container6 {
              position: absolute;
              top:  calc(var(--img_size_1_height)+22px);
              left:  calc(var(--img_size_1_width)+20px);
              & .img_thumb {
                background-image: url("/images/project/mosaic/dash_widget_research.png");
              }
            }
          }
        }
      }






      /********************************/
      /* SECTION FOUR — Smartlists */
      /********************************/
      & .mosaic_p_section4 {
        
        & .image_wrapper {
          position: relative;
          width: var(--oj_beyond_width);
          height:  851px;
          margin:  auto;
          & > .img_thumb { 
            background-color: #334A6F;
            background-image: url("/images/project/mosaic/smartlist.png");
          }

          & .features_2 {
            bottom:  20px;
            right:  -20px;

            & .img_container {
              width:  356px;
              height: 704px;
              top: -620px;
              left:  -380px;
              & .img_thumb {
                background-image: url("/images/project/mosaic/smartlist_details.png");
                background-color: #F1F1F1;
              }

            }
          }
          & .features_1 {
            top:  45px;
            left:  375px;
            & .indicator {
              & .line {
                right:  auto;
                left:  2px;
              }
            }
            & .img_container {
              height: 575px;
              width:  700px;

              top: -140px;
              left:  20px;
              & .img_thumb {
                background-image: url("/images/project/mosaic/smartlist_manage.png");
                box-shadow: none;
                background-color: transparent;
              }
              & .img_shadow {
                display: none;
              }

            }
          }   



        }
      }



      /********************************/
      /* SECTION FIVE — Stock details */
      /********************************/
      & .mosaic_p_section5 {
        /* stock_modal_preview */
        & .image_wrapper {
          position: relative;
          width: var(--oj_beyond_width);
          height:  749px;
          margin:  auto;
          & > .img_thumb { 
            background-color: #F2F2F2;
            background-image: url("/images/project/mosaic/stock_detail.png");
          }
        }

      }


      /********************************/
      /* SECTION Six — Mobile */
      /********************************/

      & .mosaic_p_section6 {
        /* background-color: yellow; */
        /* margin-top: 200px; */
        & .grid_mosaic_mobile {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_landing.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_nav.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_notifications.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/mosaic_m_reasearch.png");
          }
        }
      }


      /********************************/
      /* SECTION Seven — iPad */
      /********************************/

      & .mosaic_p_section7 {
        /* background-color: yellow; */
        /* margin-top: 200px; */
        & .grid_mosaic_iPad {
          & .gallery_1 {
            flex:  2;
            & .img_container {
              width:  586px;
              height:  790px;
              & .inner_img_container1 .img_thumb{
                background-image: url("/images/project/mosaic/mosaic_ipad_search.png");
              }
            }
          }
          & .gallery_2 .img_container{
            width:  300px;
            height:  790px;
            & .inner_img_container1 .img_thumb{
              background-image: url("/images/project/mosaic/mosaic_ipad_overflow.png");
            }
          }
          & .gallery_3 .img_container{
            width:  300px;
            height:  790px;
            & .inner_img_container1{
              width:  300px;
              height:  380px;
              position: relative;
              & .img_thumb {
                background-image: url("/images/project/mosaic/mosaic_ipad_offline.png");
              }
            }
            & .inner_img_container2 {
              width:  300px;
              height:  380px;
              display: block;
              position: relative;
              margin-top: 30px;
              & .img_thumb {
                background-image: url("/images/project/mosaic/mosaic_ipad_slack.png");
              }
            }
          }
          & .gallery_4 {
            display: none;
          }
        }
      }



      /********************************/
      /* SECTION Eight — Design System */
      /********************************/

      & .mosaic_p_section8 {
        /* background-color: yellow; */
        /* margin-top: 200px; */
        & .grid_mosaic_design_sys {
          & .img_container {
            height: 420px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_physics.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_color.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_forms.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/mosaic/design_system_icons_2.png");
          }
        }
      }






    }


  }
}