
body.wfl {
  & .primary_content_container {
    & .projects_inner_container {



      /********************************/
      /* SECTION TOP
      /********************************/
      & .p_section_top {
        & .p_main_thumb_container {
          height: 100%;
          & .p_img_1 {
            height:  378px;
            width:  315px;
            position: absolute;
            top:  -40px;
            left:  16%;
            & .img_thumb {
              background-color: #eee; 
               background-image: url("/images/project/wfl/wfl_top_section_flightcard.png");
            }
          }
          & .p_img_2 {
            height: 256px;
            width: 325px;
            position: absolute;
            bottom:  -190px;
            left:  31%;
            & .img_thumb { 
              background-color: #ddd;
              background-image: url("/images/project/wfl/wfl_card_breakfast_bundle.png"); 
            }
          }
          & .p_img_3 {
            height: 200px;
            width: 157px;
            position: absolute;
            bottom:  -134px;
            left:  3%;
            & .img_thumb {
              background-color: #eee; 
              background-image: url("/images/project/wfl/wfl_card_iphone_cable.png");
            }
          }
          & .p_img_4 {
            height: 200px;
            width: 157px;
            position: absolute;
            top:  138px;
            left:  69%;
            & .img_thumb {
              background-color: #eee; 
              background-image: url("/images/project/wfl/wfl_card_brookstone.png");
            }
          }
          & .p_dots_box {
            height:  330px;
            width:  340px;
            position: absolute;
            left:  23%;
            margin-left:  -10px;
            top: 60%;
            margin-top: -140px;
            z-index: -10;
          }
        }
      }






      /********************************/
      /* SECTION ONE - Home to Gate
      /********************************/
      & .wfl_p_section1 {
        & .grid_wfl_home_to_gate {

          & .img_container {
            height: 570px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_iphone_home_2x.png");
            background-color: #098F43;

          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_iphone_airport_2x.png");
            background-color: #21456D;
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_iphone_shuttle_2x.png");
            background-color: #21456D;
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_iphone_security_2x.png");
            background-color: #21456D;
          }
        }
      }




      /********************************/
      /* SECTION TWO - 
      /********************************/
      & .wfl_p_section2 {


        & .grid_wfl_research {
          & .img_container {
            height: 420px;
          }
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_process_persona1.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_process_persona2.png");
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_process_user_jouney.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_process_workflow.png");
          }
        }


      }

      /********************************/
      /* SECTION Three — Storyline / Journey
      /********************************/
      & .wfl_p_section3 {
        

        & .storyline .image_wrapper {
          position: relative;
          width: var(--oj_beyond_width);
          height:  520px;
          margin:  auto;
          & > .img_thumb { 
            background-image: url("/images/project/wfl/t1_tombradley.png");
          }
        }



        & .overlay_container {
          & .indicator {
            width: 30px;
            height: 30px;
            & .base {
            }
            & .outer_ring {
            }
            & .dot {
              top: 16px;
              background: none;
              box-shadow: none;
              & .line {
                top: 7px;
                left:  11px;
              }
              & .digit {
                font-size: 10px;
                font-weight: bold;
                color: rgba(0,0,0,0.7);
              }
            }
          }

          & .img_shadow {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 
                        0 16px 40px 0 rgba(11, 27, 49, .3), 
                        0 20px 80px 0 rgba(11, 27, 49, .5);
          }


          /* GENERAL STYLES FOR THIS SECTION */
          & .img_container_1 {
            height: 420px;
            width:  460px;
            & .text_container {
              position: absolute;
              bottom:  20px;
              left:  20px;
              width:  320px;
              color:  var(--ojtl8);
              &::before {
                content:  " ";
                display: block;
                width:  30px;
                height:  3px;
                background-color: var(--ojyw);
                position: absolute;
                top:  -10px;
                left:  0;
              }
            }
          }
          & .img_container_2{
            height: 570px;
            width: 320px;
          }

          /* INDIVIDUAL STYLES */
          & .features_1 {
            top:  35px;
            left:  395px;
            & .indicator .digit {
              text-indent: 2px;
            }
            & .img_container_1{
              top: -100px;
              left:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_1.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              left:  460px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_1_flight_setting.png");
                background-color: #0857A2;
              }
            }
          } 
          & .features_2 {
            top:  35px;
            left:  180px;
             & .img_container_1{
              top: -100px;
              left:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_2.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              left:  460px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_2_parking.png");
                background-color: #098F43;
              }
            }
          }
          & .features_3 {
            top:  245px;
            left:  245px;
             & .img_container_1{
              top: -100px;
              left:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_3.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              left:  460px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_3_boardingpass.png");
                background-color: #098F43;
              }
            }
          }
          & .features_4 {
            top:  242px;
            left:  405px;
             & .img_container_1{
              top: -100px;
              left:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_4.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              left:  460px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_4_wayfinding.png");
                background-color: #098F43;
              }
            }
          }
          & .features_5 {
            top:  242px;
            right:  155px;
            & .indicator {
              & .line {
                right:  11px;
                left: auto;
              }
            }
             & .img_container_1{
              top: -100px;
              right:  360px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_5.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              right:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_5_delivery.png");
                background-color: #687079;
              }
            }
          }

          & .features_6 {
            top:  342px;
            right:  155px;
            & .indicator {
              & .line {
                right:  11px;
                left: auto;
              }
            }
             & .img_container_1{
              top: -100px;
              right:  360px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_6.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              right:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_6_inflight_purchase.png");
                background-color: #098F43;
              }
            }
          }
          & .features_7 {
            top:  382px;
            right:  155px;
            & .indicator {
              & .line {
                right:  11px;
                left: auto;
              }
            }
             & .img_container_1{
              top: -100px;
              right:  360px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_7.jpg");
              }
            }
             & .img_container_2{
              top: -170px;
              right:  60px;
              & .img_thumb {
                background-image: url("/images/project/wfl/story_7_pickup_reciept.png");
              }
            }
          }




        }
      }




      /********************************/
      /* SECTION Four - 
      /********************************/
      & .wfl_p_section4 {
        & .p_thumb_grid ul {
          /*max-width: 1560px !important;*/
        }
        & .img_container {
          height: 570px;
          width: 320px;
        }
        & .grid_wfl_ecom_ui {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_home_shopndine_2x.png");
            background-color: #0857A2;
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_pdp_2x.png");
            background-color: #0857A2;
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_cart_2x.png");
            background-color: #0857A2;
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_reciept_2x.png");
            background-color: #098F43;
          }
        }
        & .grid_wfl_ecom_ux {
          & .gallery_1 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_home_shopndine_ux_2x.png");
          }
          & .gallery_2 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_pdp_ux_2x.png");
        
          }
          & .gallery_3 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_cart_ux_2x.png");
          }
          & .gallery_4 .inner_img_container1 .img_thumb{
            background-image: url("/images/project/wfl/wfl_reciept_ux_2x.png");
            background-color: #eee;
          }
        }
      }









    }
  }
}


